@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');


/* GLOBAL FONT CHANGE */
html, body, [class*="css"] {
    font-family: 'Radio Canada'; 
}

.st-ae {
    font-family: 'Radio Canada';
}

.card_feature {
    padding-top: 25px;
}

.green_text {
    font-size: 24px !important; /* Ensure the size takes precedence */
    font-family: 'Radio Canada', sans-serif; /* Add fallback fonts */
    font-weight: 600;
    color: #24b24c;
}

.black_text {
    font-size: 24px !important; /* Ensure the size takes precedence */
    font-family: 'Radio Canada', sans-serif; /* Add fallback fonts */
    font-weight: 700;
}

.chart_feature {
    padding-top: 30px;
    margin-bottom: -20px;
}