/* @import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap'); */

.green_text {
    font-size: 40px !important;
    font-weight: 600;
    color: #24b24c; /* Pastikan warna ini kontras dengan background */
}

.black_text {
    font-size: 40px !important;
    font-weight: 700;
    color: #333; /* Warna hitam atau abu tua agar mudah dibaca */
}



/* (Opsional) Atur tinggi tombol secara eksplisit jika perlu */
div[class*="st-key-select_"] button {
    height: 80px; /* Sesuaikan angka ini untuk tinggi tombol yang pas */
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: #F6F6F6;
    border: 2px solid #dee2e6;
    border-radius: 15px;
    transition: background-color 0.2s, border-color 0.2s;
}

